*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;

  font-size: $text-size;
  line-height: 1.5;
  font-family: $main-font;
  color: $dark-gray;

  background-color: $beige;

  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  font-weight: normal;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.content-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  color: $dark-gray;

@include tablet {
    text-align: center;
  }

@include phone {
    margin-bottom: 0;
  }
}

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;

@include laptop {
    max-width: 768px;
  }

@include tablet {
    max-width: 520px;
  }

@include phone {
    max-width: 95%;
    padding: 0 2.5%;
  }
}

.wrapper {
  display: grid;
  min-height: 100%;
  overflow: hidden;

  grid-template-areas: "header"
  "content"
  "footer";
  grid-template-columns: 100%;
  grid-template-rows: 80px 1fr 100%;

@include phone {
    min-width: 320px;
  }
}
