// Colors
$light-gray: #727272;
$dark-gray: #414141;
$beige: #f6f6f6;
$cyan: #33c1e3;
$light-cyan: #94e0f2;
$red: #e85f61;


// Fonts
$text-size: 18px;
$main-font: Fira, Arial, sans-serif;
$secondary-font: "Open Sans", sans-serif;
