-
  var items = [
    {'title': 'Обо мне', 'icon': 'user-secret', 'href': 'about.html'},
    {'title': 'Карьерный путь', 'icon': 'rocket', 'href': 'career.html'},
    {'title': 'Порфтолио', 'icon': 'briefcase', 'href': 'portfolio.html'}
  ]


  var careerList = [
    {
      'place': 'ООО «Поритеп НН»',
      'occupation': 'Оператор пульта управления',
      'time': '2015 - по настоящее время',
      'year': '2017'
    },
    {
      'place': 'Нижегородский государственный университет им. Н. И. Лобачевского',
      'occupation': 'Институт экономики и предпринимательства',
      'time': '2015 - 2019',
      'year': '2015'
    },
    {
      'place': 'Богородский политехнический техникум',
      'occupation': 'хз',
      'time': '2010 - 2014',
      'year': '2010'
    }
  ]

  var worksList = [
    {
      'title': 'Deals App',
      'info': 'Продажа одежды',
      'type': 'Приложение',
      'icon': 'mobile-alt',
      'imageSrc': 'assets/images/content/works/deals-app.jpg'
    },
    {
      'title': 'Dream-scapes',
      'info': 'Лагуна Люфтганза',
      'type': 'Лендинг',
      'icon': 'desktop',
      'imageSrc': 'assets/images/content/works/dream-scapes.jpg'
    },
    {
      'title': 'Creative studio',
      'info': 'Танцевальная студия',
      'type': 'Корпоративный сайт',
      'icon': 'desktop',
      'imageSrc': 'assets/images/content/works/creative.jpg'
    },
    {
      'title': 'Studio Frog',
      'info': 'Мебельный магазин',
      'type': 'Лендинг',
      'icon': 'desktop',
      'imageSrc': 'assets/images/content/works/frog-studio.jpg'
    },
    {
      'title': 'Carbonara',
      'info': 'Итальянсий ресторан',
      'type': 'Лендинг',
      'icon': 'desktop',
      'imageSrc': 'assets/images/content/works/carbonara.jpg'
    }
  ]