extends ../template

block title 
  title Обо мне

block content
  include ../sections/header
  include ../sections/content
    block page-content
      include ../sections/sidebar
        +nav("nav", items, 0)
      include ../sections/about-content
  include ../sections/footer