extends ../template

block content
  .wrapper.wrapper_hello-page
    .auth
      .auth__top
        .auth__avatar
          img.auth__avatar-pic.img-responsive(src="./assets/images/content/min-avatar.jpg", alt="Фото автора")
        .auth__name Дмитрий Федотов
      .auth__bottom
        a.auth__btn.btn.btn_white(href="about.html") Перейти на сайт