extends ../template

block content
  .auth
    .auth__top
      .auth__avatar
        img.auth__avatar-pic(src="", alt="Фото автора")
      .auth__name Дмитрий Федотов
    .auth__bottom
      .auth__btn.btn Перейти на сайт