extends ../template

block title
  title Портфолио

block content
  include ../sections/header
  include ../sections/content
    block page-content
      include ../sections/sidebar
        +nav("nav", items, 2)
      include ../sections/portfolio-content
  include ../sections/footer