.about
  .about__left
    .about__photo
      img.about__photo-pic.img-responsive(src="assets/images/content/big-avatar.jpg" alt="Фото автора")
  .about__right
    h1.content-title Обо мне
    .about__content
      p Меня зовут Дмитрий. Я родом из маленького городка России Богородска. Однажды я задумался, чем бы хотел заниматься в жизни и вспомнил про такую вещь, как программирование и решил попробовать, тем более с гаджетами я быстро находил язык
      p Начал изучать сразу JavaScript, поначалу даже получалось и я уже думал, что стал крутым разработчиком :) Но я ошибался. Для работы с JS, необходимо было еще знание HTML и CSS. Так я узнал из чего состоит весь интернет и принялся изучать основы.
      p Когда учил основы, попутно узнавал, что есть фреймворки и прочие интересные вещи и мне конечно хотелось все это узнать. Переключаясь с одного на другое я не мог сосредоточиться, а из-за плохой дисциплины не мог организовать свое обучение. Потом взял себя в руки и начал все сначала. Проходил видеокурсы, читал книги и в итоге сверстал 2 макета, прогресс был, но медленный и я понимал, что мне нужен тот, кто подскажет и даст нужное направление для развития. Так я записался в школу онлайн обучения LoftSchool.
      p В настоящее время я прохожу обучение в школе на курсе "Web для начинающих". Моя цель - получить здесь хорошую базу для дальнейшего роста, освоить современные технологии и завести новых друзей.
    .about__download
      a.btn(href="#")
        i.btn__icon(class="fa fa-download")
        span.btn__title Скачать резюме