footer.footer
  .footer__left
    .copyright © Дизайн сайта был разработан в школе LoftSchool
  .footer__right
    .footer__social
      ul.social
        each item in ["fb", "vk", "tw"]
          li.social__item
            a.social__link(href="" class=`social__link_${item}`)