header.header
  .header__left
    .header__user
      .user
        .user__photo
          img.user__photo-pic(src="", alt="Здесь должно быть фото автора")
        .user__name Дмитрий Федотов
  .header__right
    .header__contacts
      a.contacts-link(href="#") Мои контакты